shineeraser/DerivedData/ModuleCache/1983IVH4ULYWO/OpenGLES.pcm
shineeraser/DerivedData/ModuleCache/1983IVH4ULYWO/QuartzCore.pcm
shineeraser/DerivedData/ModuleCache/1983IVH4ULYWO/Security.pcm
shineeraser/DerivedData/ModuleCache/1983IVH4ULYWO/UIKit.pcm
shineeraser/DerivedData/ModuleCache/1983IVH4ULYWO/XCTest.pcm
shineeraser/DerivedData/ModuleCache/1983IVH4ULYWO/modules.idx
shineeraser/DerivedData/ModuleCache/1983IVH4ULYWO/os.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/CFNetwork.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreFoundation.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreGraphics.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreImage.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreText.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/CoreVideo.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/Darwin.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/Dispatch.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/Foundation.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/ObjectiveC.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/OpenGLES.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/QuartzCore.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/Security.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/UIKit.pcm
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/modules.idx
shineeraser/DerivedData/ModuleCache/G6TB7UBE9OM6/os.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/CFNetwork.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/CoreFoundation.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/CoreGraphics.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/CoreImage.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/CoreText.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/CoreVideo.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/Darwin.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/Dispatch.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/Foundation.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/ObjectiveC.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/OpenGLES.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/QuartzCore.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/Security.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/UIKit.pcm
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/modules.idx
shineeraser/DerivedData/ModuleCache/V7NDF6RX2ELU/os.pcm
shineeraser/DerivedData/ModuleCache/modules.timestamp
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cdcekqtspskprwcuqerrcejbqogd/shineeraser-Prefix.pch.d
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cdcekqtspskprwcuqerrcejbqogd/shineeraser-Prefix.pch.dia
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cdcekqtspskprwcuqerrcejbqogd/shineeraser-Prefix.pch.pch
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cdcekqtspskprwcuqerrcejbqogd/shineeraser-Prefix.pch.pch.hash-criteria
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cwvjdlzpkwnukoejqminculvspsq/shineeraser-Prefix.pch.d
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cwvjdlzpkwnukoejqminculvspsq/shineeraser-Prefix.pch.dia
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cwvjdlzpkwnukoejqminculvspsq/shineeraser-Prefix.pch.pch
shineeraser/DerivedData/shineeraser/Build/Intermediates/PrecompiledHeaders/shineeraser-Prefix-cwvjdlzpkwnukoejqminculvspsq/shineeraser-Prefix.pch.pch.hash-criteria
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/AppDelegate.d
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/AppDelegate.dia
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/AppDelegate.o
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/ViewController.d
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/ViewController.dia
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/ViewController.o
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/main.d
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/main.dia
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/main.o
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/shineeraser.LinkFileList
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/Objects-normal/armv7s/shineeraser_dependency_info.dat
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/assetcatalog_dependencies.txt
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/assetcatalog_generated_info.plist
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/build-state.dat
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/build-state~.dat
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser-all-target-headers.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser-generated-files.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser-own-target-headers.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser-project-headers.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser.dep
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser.xcent
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraser.build/shineeraser~.dep
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraserTests.build/shineeraserTests-all-target-headers.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraserTests.build/shineeraserTests-generated-files.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraserTests.build/shineeraserTests-own-target-headers.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraserTests.build/shineeraserTests-project-headers.hmap
shineeraser/DerivedData/shineeraser/Build/Intermediates/shineeraser.build/Debug-iphoneos/shineeraserTests.build/shineeraserTests.hmap
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app.dSYM/Contents/Info.plist
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app.dSYM/Contents/Resources/DWARF/shineeraser
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Assets.car
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Base.lproj/Main_iPad.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Base.lproj/Main_iPad.storyboardc/Info.plist
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Base.lproj/Main_iPad.storyboardc/UIViewController-BYZ-38-t0r.nib
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Base.lproj/Main_iPhone.storyboardc/Info.plist
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Base.lproj/Main_iPhone.storyboardc/UIViewController-vXZ-lx-hvc.nib
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Base.lproj/Main_iPhone.storyboardc/vXZ-lx-hvc-view-kh9-bI-dsS.nib
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/Info.plist
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/LaunchImage-700-568h@2x.png
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/PkgInfo
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/ResourceRules.plist
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/_CodeSignature/CodeResources
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/embedded.mobileprovision
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/en.lproj/InfoPlist.strings
shineeraser/DerivedData/shineeraser/Build/Products/Debug-iphoneos/shineeraser.app/shineeraser
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb-shm
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb-wal
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb.strings-cmp
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb.strings-dir
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb.strings-file
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb.strings-res
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7/shineeraser.xcindex/db.xcindexdb.strings-sym
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7s/shineeraser.xcindex/db.xcindexdb.strings-cmp
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7s/shineeraser.xcindex/db.xcindexdb.strings-dir
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7s/shineeraser.xcindex/db.xcindexdb.strings-file
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7s/shineeraser.xcindex/db.xcindexdb.strings-res
shineeraser/DerivedData/shineeraser/Index/Debug/iphoneos7.0-armv7s/shineeraser.xcindex/db.xcindexdb.strings-sym
shineeraser/DerivedData/shineeraser/Index/PrecompiledHeaders/shineeraser-Prefix-dzxlyfgmzqbrjickqijwkuefxfec_ast/shineeraser-Prefix.pch.pch
shineeraser/DerivedData/shineeraser/Index/PrecompiledHeaders/shineeraser-Prefix-dzxlyfgmzqbrjickqijwkuefxfec_ast/shineeraser-Prefix.pch.pch.hash-criteria
shineeraser/DerivedData/shineeraser/Index/PrecompiledHeaders/shineeraser-Prefix-dzxlyfgmzqbrjickqijwkuefxfec_ast/shineeraser-Prefix.pch.pch.target
shineeraser/DerivedData/shineeraser/Index/PrecompiledHeaders/shineeraser-Prefix-ffmpyenjqvibagcllxyukxebgcww_ast/shineeraser-Prefix.pch.pch
shineeraser/DerivedData/shineeraser/Index/PrecompiledHeaders/shineeraser-Prefix-ffmpyenjqvibagcllxyukxebgcww_ast/shineeraser-Prefix.pch.pch.hash-criteria
shineeraser/DerivedData/shineeraser/Index/PrecompiledHeaders/shineeraser-Prefix-ffmpyenjqvibagcllxyukxebgcww_ast/shineeraser-Prefix.pch.pch.target
shineeraser/DerivedData/shineeraser/Index/shineeraser.hmap
shineeraser/DerivedData/shineeraser/Logs/Build/09CC5117-AF2D-4A58-A264-D8A844D4242A.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/175DFF20-C61C-4946-BB29-F345EFA2115C.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/17EFC337-93C3-4099-A94D-81617A84EC4D.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/1D27C3BA-1D07-41B8-B676-A3090437E22F.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/31871831-7F37-4EED-B9C8-FB6686C79CFB.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/383E2867-0575-4045-8228-C8AE90E10445.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/417FF357-409F-432F-9833-6F6ABA03E634.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/49107B62-EBC6-4A0F-A69E-FC43FC444A87.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/4B6779BF-F984-429F-B9CB-CDCEBEE62101.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/4B7478B4-E1ED-44A8-BAA6-5C7F8B42587B.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/575F7A77-A27D-4FF4-AF13-A55AA09BD4FE.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/5ABADFC7-D02F-48EA-9792-A8AD57E9BAAA.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/66888F4A-571D-4608-845D-1422D10DA6B1.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/6A2A3C2B-D3C9-44EC-A79C-333958706535.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/70903E4A-3273-488A-87AC-B2890196E25A.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/8D4CE151-73BD-4460-85F3-F567E214271A.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/95411978-FF35-4699-A467-F2E7D1C28940.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/9BAFD17F-A376-4464-A3A6-2ED35BE8C673.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/B009B2CB-9FD7-40DD-92DC-92BA7FBE75D6.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/B9B22E9E-5CD9-4431-888D-A69630784053.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/BE6252A0-5229-4DD5-B2AA-76080DEB7E15.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/Cache.db
shineeraser/DerivedData/shineeraser/Logs/Build/D3C1913E-669E-4827-B20C-63EBE787C9CD.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/D7231BC0-ED8F-4E80-90D8-4B8162D3BF28.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/F8E650E8-E644-4EDE-8E0A-BE1538B5ED11.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Build/FE9AB763-2A49-4C3B-BE28-7F44B805F329.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/0B480A1E-1678-4B9B-8929-460EEA6F8932.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/16343B7F-6EFD-465B-ABCD-801AC0C36F10.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/1BDD8C26-3D66-4265-A52D-A434434B5D8A.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/21467DC4-18B0-4519-8E74-40AA3CD85DD1.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/26F53378-62B9-4FF1-82C8-F98E35092E6E.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/2873A394-8F97-402C-8F40-042803AFC767.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/31AC649E-7C42-45DD-92D2-6F37FCA5CFF6.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/3761F7CE-7B2D-4E7D-B787-5493E3DBC141.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/3E0B5BE9-366A-47C2-A153-812039B78B54.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/68CDC6E0-5FB3-4718-A556-6DE1C1CF48A8.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/85E3D4F3-B199-4612-ADA2-E7981A25F61A.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/8BA85226-651E-4B9E-AD77-D766DAA551FD.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/A7ECF838-D5C0-4FE8-8E7B-B29D0673AA4A.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/B33908F6-3D15-475B-8A54-D226F1186668.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/B44C0210-8960-4480-B17C-1757110133E1.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/C424D8B5-9510-4168-9AB1-7A24EC24B490.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/C70E6C67-B783-4B88-8185-45B78D756EA7.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/C717B07E-EBB4-47BC-8C8A-D7FF7C3FC516.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/C74D36D5-76A8-4085-AEEC-A2177DCF0939.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/CC198BA3-A4E1-41E6-B3A7-D01054FE7523.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/CCB698BF-DA40-4247-86D5-8447EB45899E.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/Cache.db
shineeraser/DerivedData/shineeraser/Logs/Debug/D58CDFAA-6C0E-4FC2-B74F-08AB937B8FD0.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/DF1528FA-A9F6-4E3B-A205-AB3431414492.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Debug/FFC9FA8E-52E9-4E5E-9CA3-9EB324C39BCF.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Issues/CB657687-9523-44D9-B9C3-D63C276E4A40.xcactivitylog
shineeraser/DerivedData/shineeraser/Logs/Issues/Cache.db
shineeraser/DerivedData/shineeraser/TextIndex/text-index.idx
shineeraser/shineeraser.xcodeproj/project.xcworkspace/xcshareddata/shineeraser.xccheckout
shineeraser/shineeraser.xcodeproj/xcuserdata/sdickson.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
